<%- include('./partials/header', { 
    title: 'Daily Result of Satta Bazar Starline',
    externalCSS: [
        '/stylesheets/navbar.css',
        '/stylesheets/monthlyresult.css'  
    ],
    internalCSS: `
        .chart {
            min-height: 100vh;
        }
        #submitbtn {
            padding: 10px 15px;
            background-color: #33cc99;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1.2em;
        }
        #submitbtn:hover {
            background-color: #218838;
        }
        label {
            padding: 10px 15px;
            color: #2c3e50;
            font-size: 1em;
        }
        input[type="date"] {
            padding: 10px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
        }
        input[type="date"]:hover {
            cursor: pointer;
        }
    `
}) %>


<body>
<% const currentMonth = todayDate.toLocaleString('default', { month: 'long' });  %>
<% const d = new Date() %>
<% const year = d.getFullYear(); %>
<% const month = (d.getMonth() + 1).toString().padStart(2, '0'); // Months are 0-based %>
<% const day = d.getDate().toString().padStart(2, '0'); %>
<% const formattedDate = `${year}-${month}-${day}`; // Example output: "2024-10-08" %>
<% const currentDate = new Date() %>
<%# const thisMonth = todayDate.getMonth(); %>
<%# const thisyear = todayDate.getFullYear(); %>
<%# const thisday = todayDate.getDate(); %>
<% const daysInMonth = new Date(year, month + 1, 0).getDate(); %> <!-- Last day of the current month -->
<% const date = new Date() %>
<% const todayString = date.toDateString() %>
<% const today = date.toLocaleDateString() %>
<%- include('./partials/navbar') %>
        <div id="chart-form">
            <h2 id="chart-text">Yahan Aap Date,Month Aur Year Select Karke Mumbai Starline ka daily ka Chart Dekh Sakte Hai.</h2>
            <form action="/dailyresult" method="GET">
                <label for="date">Choose date,month and year</label>
                <input type="date" id="date" name="date" value="<%=formattedDate %>">
                <button type="submit" id="submitbtn">Submit</button>
            </form>
        </div>
        <div id="starline-result" class="chart">
            <table class="chart-table">
                <!-- Header Section -->
                <tr class="chart-head">
                    <td class="month" colspan="3">
                        <h1> Monthly Satta-Bazar-Starline Result Chart of <%=todayDate %> for Mumbai Starline</h1>
                    </td>
                </tr>
                <!-- Table Header -->
                <tr Class="date-name">
                    <td class="date">Time</td>
                    <th class="name">
                        <%= data[0] %>
                    </th> <!-- gameName passed from server -->
                </tr>
          
                <!-- Dynamic Rows for each result -->
                <% fetchResult.forEach(function(results) { %>
                    <tr Class="day-number">
                        <td class="day">
                            <%= results.date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
                        </td> <!-- Display time from each result -->
                        <td class="number">
                            <%= results.result.toString().padStart(2,'0') %>
                        </td> <!-- Display number from each result -->
                    </tr>
                    <% }); %>
          
            </table>
          </div>
        <%-include('./partials/footer') %>
<script>
</script>
</body>
</html>