<% const currentMonth = todayDate.toLocaleString('default', { month: 'long' });  %>
<% const year = todayDate.getFullYear(); %> 
<% const month = (todayDate.getMonth() + 1).toString().padStart(2, '0'); // Months are 0-based %>
<% const day = todayDate.getDate().toString().padStart(2, '0'); %>
<% const monthZeroIndex=todayDate.getMonth(); %>
<% const daysInMonth=new Date(year, month + 1, 0).getDate(); %>
<% const formattedDate = `${year}-${month}-${day}`; // Example output: "2024-10-08" %>

<% 
  // One day before
  const oneDayBefore = new Date(todayDate); // Clone the current date
  oneDayBefore.setDate(todayDate.getDate() - 1); // Set to one day before
  const yearOneDayBefore = oneDayBefore.getFullYear();
  const monthOneDayBefore = (oneDayBefore.getMonth() + 1).toString().padStart(2, '0');
  const monthOneDayBeforeString = oneDayBefore.getMonth()
  const dayOneDayBefore = oneDayBefore.getDate().toString().padStart(2, '0');
  const formattedDateOneDayBefore = `${yearOneDayBefore}-${monthOneDayBefore}-${dayOneDayBefore}`;
%>

<% 
  // Two days before
  const twoDaysBefore = new Date(todayDate); // Clone the current date
  twoDaysBefore.setDate(todayDate.getDate() - 2); // Set to two days before
  const yearTwoDaysBefore = twoDaysBefore.getFullYear();
  const monthTwoDaysBefore = (twoDaysBefore.getMonth() + 1).toString().padStart(2, '0');
  const monthTwoDaysBeforeString = twoDaysBefore.getMonth()
  const dayTwoDaysBefore = twoDaysBefore.getDate().toString().padStart(2, '0');
  const formattedDateTwoDaysBefore = `${yearTwoDaysBefore}-${monthTwoDaysBefore}-${dayTwoDaysBefore}`;
%>


<%- include('./partials/header', {
    title: `Satta Bazar Starline ${year} Chart And Result of ${currentMonth} ${year} for Gali, Desawar, Ghaziabad and Faridabad`,
    externalCSS: [
        '/stylesheets/index.css'
    ],
    internalCSS: `
        @import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
        #logo-font {
            font-weight: 900;
            color: black;
            display: block;
        }

        #logo {
            display: block;
        }

        #superfast-result {
            color: red;
            font-size: medium;
        }

        #today {
            color: black;
        }      
    `
}) %>

<body>
    <div id="header"> <!-- Google Tag Manager (noscript) -->
        <!-- End Google Tag Manager (noscript) -->
        <div id="logo">
            <a href="/"> 
                <h1 style="font-size: x-large;" id="logo-font">SATTA-BAZAR-STARLINE.com</h1>
            </a>
        </div>
    </div>
    <div id="section">
        <div id="container">
            <h1 class="ads" style="padding:2px 0; margin:0; font-size: small">
                <marquee behavior="" direction="" id="superfast-result">Superfast Result of all satta <span id="today"><%= todayDate.toDateString() %> </span></marquee>
                Daily Superfast Satta Bazar Result of <%=`${currentMonth} ${year}`%> And Leak Numbers for Gali, Desawar,
                Mumbai Starline, Delhi Bazar,Shree Ganesh ,Ghaziabad and
                Faridabad With
                Complete Old Satta Bazar Starline Chart of 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2023 From Satta
                Bazar Mumbai Starline Delhi Bazar, Shree Ganesh, Faridabad Ghaziabad,Gali and Desawar.
            </h1>

            <!-- ***************************************Mumbai starline main START********************* -->
            <div class="main-content">

                <table class="quick-result-board">
                    <tr class="board-title">
                        <th colspan="3">
                            <h1>Satta Bazar Starline Results of <%= data.date.toDateString() %></h1>
                        </th>
                    </tr>
                    <tr class="board-head">
                        <th class="games-name">
                            <h2>Game</h2>
                        </th>
                        <th class="yesterday-date">
                            <h2 id="mumbai-time">
                                <%=time %>
                            </h2>
                        </th>
                        <th class="today-date display-none-on10:30">
                            <h2 id="half-add-time">
                                <%= timeInMilli %>
                            </h2>
                        </th>
                    </tr>

                    <tr class='game-result highlight' id='GD'>
                        <td class="game-details">
                            <h3 class="game-name">
                                <%=data.game %>
                            </h3>
                            <h3 class="game-time"> Next Result in 30 min</h3>
                            <h3 class="game-link"><a
                                    href="/dailyresult?date=<%=formattedDate  %>">Record
                                    Chart</a></h3>
                        </td>
                        <td class="yesterday-number">
                            <h3>
                                <%=data.result.toString().padStart(2,'0') %>
                            </h3>
                        </td>
                        <td class="today-number display-none-on10:30">
                            <h3>XX</h3>
                        </td>
                    </tr>
                </table>
                <p>
                    ⬆️⬆️⬆️ <br>
                    यह गेम 09:30AM बजे दिन से 10:00PM तक हर (30 min) आधे घंटे में खुलती है | जरूरी सूचना
                    <br>_______________________ <br>💸रेट💸 जोड़ी 100 के 10,000 हरफ 100 के 1000 Rules of game
                    Rate_10_ka_1000 Game Time 09:30AM-10:00PM (हर 30minutes में एक गेम)
                </p>

            </div>
            <!-- ***************************************Mumbai starline main END********************* -->

<!-- *******************************Other Games START******************************* -->
<div class="main-content">
    <table class="quick-result-board">
        <tr class="board-title">
            <th colspan="3">
                <h1>Satta Bazar Starline Results of <%= todayDate.toDateString() %> & <%= oneDayBefore.toDateString() %></h1>
            </th>
        </tr>
        <tr class="board-head">
            <th class="games-name">
                <h2>Games List</h2>
            </th>
            <th class="yesterday-date">
                <h2><%= oneDayBefore.toDateString().substring(3,10) %></h2>
            </th>
            <th class="today-date">
                <h2><%= todayDate.toDateString().substring(3,10) %></h2>
            </th>
        </tr>

        <% if (otherGames) { %>
            <% otherGames.forEach(function (gameResult) { %>
                <tr class='game-result'>
                    <td class="game-details">
                        <h3 class="game-name">
                            <%= gameResult._id %>
                        </h3> <!-- Game Name -->
                        <h3 class="game-link">At<%=gameResult.results[0].date.toLocaleTimeString('en-US',{
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12: true
                          }).replace(/^(\d):/, '0$1:') %>&nbsp &nbsp<a href="/monthlyResult?month=<%= month %>&year=<%= year %>">Record Chart</a></h3>
                    </td>
                    <td class="yesterday-number">
                        <% 
                        // Check for yesterday's result
                        const yesterdayResult = gameResult.results.find(result => new Date(result.date).toDateString() === oneDayBefore.toDateString());
                        %>
                        <% if (yesterdayResult) { %>
                            <h3>
                                <%= yesterdayResult.result.toString().padStart(2, '0') %>
                            </h3> <!-- Yesterday's result -->
                        <% } else { %>
                            <h3>XX</h3>
                        <% } %>
                    </td>
                    <td class="today-number">
                        <% 
                        // Check for today's result
                        const todayResult = gameResult.results.find(result => new Date(result.date).toDateString() === todayDate.toDateString());
                        %>
                        <% if (todayResult) { %>
                            <h3>
                                <%= todayResult.result.toString().padStart(2, '0') %>
                            </h3> <!-- Today's result -->
                        <% } else { %>
                            <h3>XX</h3>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        <% } %>

        <tr class="board-head" id="old">
            <th colspan="3">
                <h2><a href="/monthlyresult?month=<%= month %>&year=<%= year %>">Click here for game monthly results.</a></h2>
            </th>
        </tr>
    </table>
</div>


<!-- *******************************Other Games END******************************* -->
            <!-- ***********************Mumbai starline result  START********************* -->
            <div id="starline-result" class="chart">
                <table class="chart-table">
                    <!-- Header Section -->
                    <tr class="chart-head">
                        <td class="month" colspan="3">
                            <h1> Monthly Satta-Bazar-Starline Result Chart of <%=todayDate.toDateString() %> for Mumbai Starline</h1>
                        </td>
                    </tr>

                    <!-- Table Header -->
                    <tr Class="date-name">
                        <td class="date" title="Days in October 2024 ">Time</td>
                        <th class="name">
                            <%= data.game %>
                        </th> <!-- gameName passed from server -->
                    </tr>

                    <!-- Dynamic Rows for each result -->
                    <% todayResults.forEach(function(results) { %>
                        <tr Class="day-number">
                            <td class="day">
                                <%= results.time %>
                            </td> <!-- Display time from each result -->
                            <td class="number">
                                <%= results.result.toString().padStart(2,'0') %>
                            </td> <!-- Display number from each result -->
                        </tr>
                        <% }); %>

                            <!-- Some space between rows -->
                            <tr class="space">
                                <td></td>
                            </tr>

                            <!-- Options for previous/next months -->
                            <tr class="option">
                                <td class="e-link">
                                    <a href='/dailyresult?date=<%=formattedDateOneDayBefore%>' >
                                        <h1 class="aero">Click for <%= dayOneDayBefore+" "+oneDayBefore.toDateString().substring(4,7)  %></h1>
                                    </a>
                                </td>

                                <td class="e-link">
                                    <a href="/dailyresult?date=<%=formattedDateTwoDaysBefore  %>">
                                        <h1 class="aero">Click for <%=dayTwoDaysBefore+" "+twoDaysBefore.toDateString().substring(4,7) %></h1>
                                    </a>
                                </td>
                            </tr>
                </table>
            </div>
            <!-- *********************Mumbai starline result  END********************** -->    
             
            
            <!-- ***************************Monthly Chart START*********************************** -->
            
            <div id="mix-chart" class="chart">
                <table class="chart-table">
                    <tr class="chart-head">
                        <td colspan="7" class="month">
                            <h1> Monthly Satta-Bazar-Starline Result Chart for <%= todayDate.toLocaleString('default', {
                                    month: 'long' }) %>
                                    <%= todayDate.getFullYear() %>
                            </h1>
                        </td>
                    </tr>
                    <tr class="date-name">
                        <td class="date" title="Days in the current month">DATE</td>
                        <% monthlyResults.forEach(game=> { %>
                            <th class="name">
                                <%= game._id %>
                            </th> <!-- Game name -->
                            <% }) %>
                    </tr>
    
                    <!-- Get the number of days in the current month -->
                                <!-- Last day of the current month -->
                                <!-- Loop through each day of the month -->
                <% for (let day=1; day <=daysInMonth; day++) { %>
                                    <tr class="day-number">
                                        <td class="day"
                                            title="<%= todayDate.toLocaleString('default', { month: 'long' }) %> <%= day < 10 ? '0' + day : day %>, <%= year %>">
                                            <%= day < 10 ? '0' + day : day %>
                                        </td>
    
                                        <% monthlyResults.forEach(game=> {
                                            // Find the result for the current day
                                            let result = game.resultsByDay.find(r => {
                                            const resultDate = new Date(r.date);
                                            return resultDate.getDate() === day && resultDate.getMonth() === monthZeroIndex &&
                                            resultDate.getFullYear() === year;
                                            });
                                        
                                            %>
                                            <td class="number">
                                                <%= result ? result.result.toString().padStart(2,"0") : 'XX' %>
                                            </td>
                                            <% }) %>
                                    </tr>
                                    <% } %>
                </table>
            </div>
    


            <!-- *************************Monthly Chart END*********************************** -->

            <div class="nav-link" title=" Satta Result Chart With Record">
                <a href="/monthlyResult?month=<%=month%>&year=<%=year%>">
                    <h1 class="nav-text"><%= currentMonth+"-"+year%> Ka Gali, Desawar, Ghaziabad Aur Faridabad Ka Latest Chart Dekhne
                        Ke Liye Yahan Click Kariye</h1>
                </a>
            </div>
        </div>


        <div class="ads" style="padding:8px 0; margin:8px 0; background: white">
            <p style="color:blue; font-size: small;">
                Satta-Bazar-Starline.com is most popular gaming discussion forum for players to use freely and we
                are not
                in partnership with any gaming company.
            </p>
        </div>
        <div class="ads" style="padding:8px; margin:8px 0; background: white">
            <p style="color:red; font-size: big; line-height: 1.4em">
                कृपया ध्यान दें, लीक गेम के नाम पर किसी को कोई पैसा न दें, ना पहले ना बाद मे -धन्यवाद
            </p>
        </div>
        <div class="ads" style="padding:8px 0; margin:8px 0; background: white">
            <h2 style="color:green; font-size: big; line-height: 1.5;">
                हमसे संपर्क करने के लिए ➡️
                <a href="#"
                    style="color:blue; font-size: big"> यहाँ क्लिक करें</a>
            </h2>
        </div>


        <div id="footer">
            <div id="chart-form">
                <h2 id="chart-text">Yahan Aap Month Aur Year Select Karke Gali, Desawar, Ghaziabad Aur Faridabad Ka
                    Combined Chart Dekh Sakte Hai.</h2>
                <form action="/monthlyresult" method="get">
                    <select id="month" name="month">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select id="year" name="year">
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                    <input id="direct-chart" type="submit" value="Go">
                </form>
            </div>
            <a style="position:fixed; bottom:20px;right:8px;">&nbsp;<input
                    style="border:#e7aa26 1px solid; background:#FBC503; color:Red; height:auto; padding:8px; font-weight:bold;"
                    id="Refresh" name="Refresh" value="Refresh" type="submit"
                    onclick="window.location.reload()">&nbsp;</a>
        </div>


        <%-include('./partials/footer') %>
        <script src="/scripts/date.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</body>
</html>